<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BazaDanychKonwerterEntities12" connectionString="metadata=res://*/ModelBazodanowy12.csdl|res://*/ModelBazodanowy12.ssdl|res://*/ModelBazodanowy12.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychKonwerter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychKonwerterEntitiesOstatniaWartosc" connectionString="metadata=res://*/ModelBazodanowyOstatniaWartosc.csdl|res://*/ModelBazodanowyOstatniaWartosc.ssdl|res://*/ModelBazodanowyOstatniaWartosc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychKonwerter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychKonwerterEntitiesOstatniaWartosc2" connectionString="metadata=res://*/ModelBazodanowyOstatniaWartosc2.csdl|res://*/ModelBazodanowyOstatniaWartosc2.ssdl|res://*/ModelBazodanowyOstatniaWartosc2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychKonwerter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychKonwerterEntitiesOstatniaWartosc3" connectionString="metadata=res://*/ModelOstatniaWartosc.csdl|res://*/ModelOstatniaWartosc.ssdl|res://*/ModelOstatniaWartosc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychKonwerter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychOcenaEntities5" connectionString="metadata=res://*/ModelOcena.csdl|res://*/ModelOcena.ssdl|res://*/ModelOcena.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychOcena;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychKonwerterEntities" connectionString="metadata=res://*/ModelKonwerter14.csdl|res://*/ModelKonwerter14.ssdl|res://*/ModelKonwerter14.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychKonwerter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychOcenaEntities4" connectionString="metadata=res://*/ModelOcena4.csdl|res://*/ModelOcena4.ssdl|res://*/ModelOcena4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychOcena;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychKonwerterEntities15" connectionString="metadata=res://*/ModelOcena15.csdl|res://*/ModelOcena15.ssdl|res://*/ModelOcena15.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychKonwerter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychOcenaEntities6" connectionString="metadata=res://*/ModelOcena5.csdl|res://*/ModelOcena5.ssdl|res://*/ModelOcena5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychOcena;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychKonwerterEntities16" connectionString="metadata=res://*/Model15.csdl|res://*/Model15.ssdl|res://*/Model15.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychKonwerter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BazaDanychKonwerterEntities17" connectionString="metadata=res://*/Model17.csdl|res://*/Model17.ssdl|res://*/Model17.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BazaDanychKonwerter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>