<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="StatisticsTableModel" connectionString="metadata=res://*/StatisticsTable.csdl|res://*/StatisticsTable.ssdl|res://*/StatisticsTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Converter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="RatingsTableModel" connectionString="metadata=res://*/RatingsTable.csdl|res://*/RatingsTable.ssdl|res://*/RatingsTable.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Converter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>