<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="FlowerManagerEntities" connectionString="metadata=res://*/FlowerManagerModel.csdl|res://*/FlowerManagerModel.ssdl|res://*/FlowerManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TB5B3N4\SQLEXPRESS;initial catalog=FlowerManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>