<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DesktopAPP.Properties.Settings.companydataConnectionString" connectionString="Data Source=DESKTOP-7KNI7DS\MICHALASD;Initial Catalog=companydata;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="companydataEntities" connectionString="metadata=res://*/CompanyDataModel.csdl|res://*/CompanyDataModel.ssdl|res://*/CompanyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7KNI7DS\MICHALASD;initial catalog=companydata;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="companydataEntities1" connectionString="metadata=res://*/DataCompanyModel.csdl|res://*/DataCompanyModel.ssdl|res://*/DataCompanyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Desktop-7kni7ds\michalasd;initial catalog=companydata;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="companydataEntities34" connectionString="metadata=res://*/companydata.csdl|res://*/companydata.ssdl|res://*/companydata.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Desktop-7kni7ds\michalasd;initial catalog=companydata;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="companydataEntities2" connectionString="metadata=res://*/Programowanie.csdl|res://*/Programowanie.ssdl|res://*/Programowanie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Desktop-7kni7ds\michalasd;initial catalog=companydata;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="companydataEntities3" connectionString="metadata=res://*/CompanyDataModel.csdl|res://*/CompanyDataModel.ssdl|res://*/CompanyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-7kni7ds\michalasd;initial catalog=companydata;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>