<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="KASETY_412_15Entities" connectionString="metadata=res://*/DatabaseModel.csdl|res://*/DatabaseModel.ssdl|res://*/DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;NT-27.WWSI.EDU.PL, 1601&quot;;initial catalog=KASETY_412_15;persist security info=True;user id=Z412_15;password=wwsidupa1;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="StatisticsEntities" connectionString="metadata=res://*/Statistics.csdl|res://*/Statistics.ssdl|res://*/Statistics.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;NT-27.WWSI.EDU.PL, 1601&quot;;initial catalog=KASETY_412_15;persist security info=True;user id=Z412_15;password=wwsidupa1;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>